In [76]:
import pandas as pd
import glob
import numpy as np

In [77]:
# pd.reset_option("display.max_columns")
# pd.reset_option("display.max_rows")
# pd.reset_option("display.width")
# pd.reset_option("display.max_colwidth")

In [78]:

# pd.set_option('display.max_columns', None)
# pd.set_option('display.max_rows', None)
# pd.set_option('display.width', None)
# pd.set_option('display.max_colwidth', None)

In [79]:
"Reload the CSV file after code execution state reset"
financial_files_path = "./data_csv/Financial_*.csv"
all_files = glob.glob(financial_files_path)

In [80]:
df_list = []
for file in all_files:
    temp_df = pd.read_csv(file)
    quarter = file.split("_")[2] + "_" + file.split("_")[3].split(".")[0]
    temp_df["QUARTER"] = quarter
    df_list.append(temp_df)

In [81]:
merged_df = pd.concat(df_list)

In [82]:
# Define useful features for CAMELS-based feature engineering

camel_core_features = [
    # Capital Adequacy
    'EQV', 'EQTOT', 'IDT1RWAJR', 'RBCRWAJ',

    # Asset Quality
    'LNATRESR', 'NTLNLSR', 'NCLNLSR', 'LNLSDEPR', 'LNLSNET',
    'ORE', 'P3ASSET', 'NCRER', 'NCRERESR', 'NTRECOSR',

    # Management
    'EINTEXP', 'INTINC', 'NUMEMP',

    # Earnings
    'ROA', 'ROAPTX', 'ROE', 'PTAXNETINC', 'NETINC',
    'NOIJ', 'NONII', 'NIM',

    # Liquidity
    'DEP', 'COREDEP', 'DEPINS', 'DEPUNINS', 'DEPNIDOM',

    # Sensitivity to Market Risk
    'IGLSEC', 'ASDRRES',

    # Total Assets
    'NAASSET'
]

# Optional metadata for grouping, merging, filtering
metadata_fields = [
    'CERT', 'NAMEFULL', 'ZIP', 'STNAME', 'CITY',
    'RSSDID', 'BKCLASS', 'MUTUAL', 'TRUST', 'QUARTER'
]

# Labeling or time metadata
labeling_fields = [
    'INSDATE', 'ESTYMD'
]

# Final full set to keep
columns_to_keep = camel_core_features + metadata_fields + labeling_fields

In [83]:
cleaned_cleaned_cleaned_merged_df = merged_df[columns_to_keep]

In [84]:
merged_df

,ZIP,IDT1RWAJR,EXTRA,TFRA,IDNCCONR,STNAME,EQCDIVNTINC,INSDATE,BKPREM,SZLNCON,...,IDNCGTPR,NAMEFULL,IDERNCVR,NFAA,ESTYMD,NONII,TRUST,EQTOT,ID,QUARTER
0,4605,13.280366,0.0,0,0.773740,MAINE,38.124520,19340101,5901.0,0.0,...,13.156101,UNION TRUST COMPANY,27.938462,0,19070101,1374.0,1,35658.0,9_20040331,2004_Q1
1,2110,12.250188,0.0,4102927073,0.000000,MASSACHUSETTS,41.103508,19340101,604691.0,0.0,...,0.000000,STATE STREET BANK AND TRUST COMPANY,0.000000,3776579,17920101,958070.0,1,6158250.0,14_20040331,2004_Q1
2,36830,14.150400,0.0,0,0.145191,ALABAMA,30.696203,19340101,2823.0,0.0,...,0.000000,AUBURNBANK,34.298507,0,19070103,1513.0,0,46718.0,35_20040331,2004_Q1
3,36732,15.258698,0.0,0,2.313451,ALABAMA,1.650165,19340101,1773.0,0.0,...,0.000000,ROBERTSON BANKING COMPANY,7.754098,0,18700101,384.0,1,23285.0,39_20040331,2004_Q1
4,36867,18.089052,0.0,0,0.496853,ALABAMA,100.256739,19340101,2320.0,0.0,...,0.000000,PHENIX-GIRARD BANK,35.954545,0,19040504,646.0,1,15735.0,41_20040331,2004_Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8779,80914,34.490712,0.0,0,0.870684,COLORADO,0.000000,19851105,4709.0,0.0,...,0.000000,5 STAR BANK,1.928112,0,19800610,6512.0,0,33231.0,91005_20061231,2006_Q4
8780,72201,12.489915,0.0,0,0.674663,ARKANSAS,35.304501,19871221,6964.0,0.0,...,0.000000,BANK OF LITTLE ROCK,21.987805,0,19271021,2686.0,0,13311.0,91280_20061231,2006_Q4
8781,80203,16.125524,0.0,45906540,0.000000,COLORADO,505.675955,19911002,6116.0,0.0,...,0.000000,FISERV TRUST COMPANY,0.000000,309912,19630501,49557.0,1,141376.0,91322_20061231,2006_Q4
8782,30309,189.645143,0.0,42560774,0.000000,GEORGIA,190.234623,20000505,0.0,0.0,...,0.000000,AMVESCAP NATIONAL TRUST COMPANY,0.000000,1633,19690514,49157.0,1,13040.0,91325_20061231,2006_Q4
8783,99510,0.000000,0.0,200480,0.000000,ALASKA,0.000000,99991231,0.0,0.0,...,0.000000,KEYTRUST COMPANY NATIONAL ASSOCIATION,0.000000,100,19830101,1618.0,1,13585.0,91385_20061231,2006_Q4

In [85]:
merged_df['ORE'].describe()

count    107736.000000
mean        652.497800
std        7867.015388
min       -5097.000000
25%           0.000000
50%           0.000000
75%         181.000000
max      736000.000000
Name: ORE, dtype: float64

In [86]:
def clean_and_prepare_camels_data(df: pd.DataFrame) -> pd.DataFrame:
    """
    Cleans and preprocesses a bank dataset for CAMELS feature engineering.
    Applies filtering, winsorization, removes invalid rows, and normalizes ORE.
    """

    # Remove rows with zero or negative total assets or loans
    df = df[
        (df["NAASSET"] > 0) &
        (df["NTLNLSR"] > 0)
    ].copy()

    # Drop rows with invalid ORE (negative)
    if "ORE" in df.columns:
        df = df[df["ORE"] >= 0]

    # Winsorization limits for key financial columns
    clip_limits = {
        "IDT1RWAJR": (0, 100),       # Capital adequacy
        "RBCRWAJ": (0, 100),
        "ROA": (-1, 2),
        "ROE": (-5, 5),
        "ROAPTX": (-5, 5),
        "LNLSDEPR": (0, df["LNLSDEPR"].quantile(0.99)),
        "LNLSNET": (0, df["LNLSNET"].quantile(0.99)),
        "NUMEMP": (0, df["NUMEMP"].quantile(0.99)),
        "NIM": (0, 15),
        "PTAXNETINC": (
            df["PTAXNETINC"].quantile(0.01),
            df["PTAXNETINC"].quantile(0.99)
        ),
        "NETINC": (
            df["NETINC"].quantile(0.01),
            df["NETINC"].quantile(0.99)
        ),
        "ORE": (
            0,
            df["ORE"].quantile(0.99)
        ),
    }

    for col, (low, high) in clip_limits.items():
        if col in df.columns:
            df[col] = df[col].clip(lower=low, upper=high)

    return df

# Output the updated function
clean_and_prepare_camels_data

In [87]:
cleaned_merged_df = clean_and_prepare_camels_data(merged_df)

In [88]:
cleaned_merged_df = cleaned_merged_df.replace([0, np.inf, -np.inf], np.nan)

In [89]:
cleaned_merged_df

,ZIP,IDT1RWAJR,EXTRA,TFRA,IDNCCONR,STNAME,EQCDIVNTINC,INSDATE,BKPREM,SZLNCON,...,IDNCGTPR,NAMEFULL,IDERNCVR,NFAA,ESTYMD,NONII,TRUST,EQTOT,ID,QUARTER
0,4605,13.280366,NaN,NaN,0.773740,MAINE,38.124520,19340101,5901.0,NaN,...,13.156101,UNION TRUST COMPANY,27.938462,NaN,19070101,1374.0,1.0,35658.0,9_20040331,2004_Q1
2,36830,14.150400,NaN,NaN,0.145191,ALABAMA,30.696203,19340101,2823.0,NaN,...,NaN,AUBURNBANK,34.298507,NaN,19070103,1513.0,NaN,46718.0,35_20040331,2004_Q1
3,36732,15.258698,NaN,NaN,2.313451,ALABAMA,1.650165,19340101,1773.0,NaN,...,NaN,ROBERTSON BANKING COMPANY,7.754098,NaN,18700101,384.0,1.0,23285.0,39_20040331,2004_Q1
4,36867,18.089052,NaN,NaN,0.496853,ALABAMA,100.256739,19340101,2320.0,NaN,...,NaN,PHENIX-GIRARD BANK,35.954545,NaN,19040504,646.0,1.0,15735.0,41_20040331,2004_Q1
5,35077,11.286542,NaN,NaN,0.274582,ALABAMA,NaN,19340101,3792.0,NaN,...,NaN,MERCHANTS BANK,32.166667,NaN,19070101,380.0,NaN,11164.0,46_20040331,2004_Q1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8774,81401,10.152121,NaN,NaN,0.856616,COLORADO,44.206426,19840703,5035.0,NaN,...,NaN,MONTROSEBANK,50.848837,NaN,19710423,733.0,NaN,14513.0,90528_20061231,2006_Q4
8776,80027,9.626367,NaN,NaN,NaN,COLORADO,NaN,19870521,11383.0,NaN,...,NaN,HERITAGE BANK,0.815627,NaN,19730521,814.0,NaN,34331.0,90579_20061231,2006_Q4
8777,80104,9.274001,NaN,NaN,0.229489,COLORADO,91.533181,19860617,6256.0,NaN,...,40.555556,CASTLE ROCK BANK,37.319149,NaN,19740221,434.0,NaN,8001.0,90582_20061231,2006_Q4
8779,80914,34.490712,NaN,NaN,0.870684,COLORADO,NaN,19851105,4709.0,NaN,...,NaN,5 STAR BANK,1.928112,NaN,19800610,6512.0,NaN,33231.0,91005_20061231,2006_Q4
8780,72201,12.489915,NaN,NaN,0.674663,ARKANSAS,35.304501,19871221,6964.0,NaN,...,NaN,BANK OF LITTLE ROCK,21.987805,NaN,19271021,2686.0,NaN,13311.0,91280_20061231,2006_Q4

In [90]:
cleaned_merged_df.describe()

,ZIP,IDT1RWAJR,EXTRA,TFRA,IDNCCONR,EQCDIVNTINC,INSDATE,BKPREM,SZLNCON,INTAN,...,RBCRWAJ,SZLNCI,LSASCDBT,IDNCGTPR,IDERNCVR,NFAA,ESTYMD,NONII,TRUST,EQTOT
count,60072.000000,60069.000000,4.410000e+02,6.727000e+03,49574.000000,38457.000000,6.007200e+04,5.995400e+04,1.420000e+02,2.703000e+04,...,60069.000000,1.190000e+02,0.0,11049.000000,60063.000000,6.730000e+03,6.007200e+04,6.006000e+04,19645.0,6.007200e+04
mean,52202.602627,14.768227,1.119656e+04,1.317675e+07,1.073250,76.583555,1.958016e+07,1.819878e+04,1.725226e+06,1.369338e+05,...,15.921323,1.051698e+06,NaN,22.987039,109.849727,8.113106e+03,1.934226e+07,2.423189e+04,1.0,1.881396e+05
std,22526.803059,6.895320,8.858464e+04,1.144011e+08,2.135881,475.355369,2.629358e+05,1.859673e+05,2.301871e+06,1.485283e+06,...,6.873317,1.190134e+06,NaN,25.818683,1315.063573,1.023156e+05,4.179895e+05,4.097814e+05,0.0,2.261302e+06
min,680.000000,0.166464,-1.430000e+05,1.000000e+00,0.000239,0.007893,1.933120e+07,1.000000e+00,2.800000e+02,1.000000e+00,...,0.332928,4.300000e+01,NaN,0.000584,-19563.277778,1.000000e+00,1.784010e+07,-2.736860e+05,1.0,-2.548000e+03
25%,36330.000000,10.577169,-7.600000e+01,1.837300e+04,0.224249,31.501057,1.934010e+07,1.110000e+03,8.808350e+04,3.150000e+02,...,11.717843,1.669300e+04,NaN,4.064622,7.253968,6.400000e+01,1.903052e+07,2.410000e+02,1.0,7.574750e+03
50%,55006.000000,12.765354,9.000000e+00,1.824010e+05,0.556183,52.991303,1.943070e+07,2.827000e+03,4.155000e+05,1.329000e+03,...,13.887041,5.540000e+05,NaN,12.413793,19.000000,3.460000e+02,1.925060e+07,6.290000e+02,1.0,1.520500e+04
75%,69001.000000,16.557750,2.920000e+02,7.970200e+05,1.233029,80.513625,1.989081e+07,6.770000e+03,3.224981e+06,6.089000e+03,...,17.661742,1.665612e+06,NaN,32.904412,54.224904,1.058500e+03,1.976012e+07,1.828000e+03,1.0,3.480600e+04
max,99901.000000,100.000000,1.520000e+06,3.171845e+09,100.000000,64600.000000,2.006090e+07,8.425000e+06,1.258000e+07,4.683993e+07,...,100.000000,4.239000e+06,NaN,170.277481,169194.500000,3.127352e+06,2.006050e+07,2.940200e+07,1.0,1.104793e+08

In [94]:
camels_ratios_df = pd.DataFrame({
    "cert": cleaned_merged_df["CERT"],
    "bank_name": cleaned_merged_df["NAMEFULL"],
    "quarter": cleaned_merged_df["QUARTER"],

    # Capital Adequacy (C)
    "equity_to_assets": cleaned_merged_df["EQV"] / cleaned_merged_df["NAASSET"],
    "tier1_rwa_ratio": cleaned_merged_df["IDT1RWAJR"],
    "total_equity_ratio": cleaned_merged_df["EQTOT"] / cleaned_merged_df["NAASSET"],
    "dividends_to_equity": cleaned_merged_df["EQCDIVNTINC"] / cleaned_merged_df["EQV"],

    # Asset Quality (A)
    "loan_loss_reserve_to_loans": cleaned_merged_df["LNATRESR"] / cleaned_merged_df["NTLNLSR"],
    "noncurrent_loans_to_loans": cleaned_merged_df["NCLNLSR"] / cleaned_merged_df["NTLNLSR"],
    "net_loans_to_assets": cleaned_merged_df["LNLSNET"] / cleaned_merged_df["NAASSET"],
    "loan_depreciation_to_loans": cleaned_merged_df["LNLSDEPR"] / cleaned_merged_df["NTLNLSR"],
    "ore_to_assets": cleaned_merged_df["ORE"] / cleaned_merged_df["NAASSET"],
    "assets_past_due_30_89_to_assets": cleaned_merged_df["P3ASSET"] / cleaned_merged_df["NAASSET"],
    "noncurrent_real_estate_to_assets": cleaned_merged_df["NCRER"] / cleaned_merged_df["NAASSET"],
    "noncurrent_re_to_loans": cleaned_merged_df["NCRERESR"] / cleaned_merged_df["NTLNLSR"],

    # Management (M)
    "efficiency_ratio_proxy": cleaned_merged_df["EINTEXP"] / cleaned_merged_df["INTINC"],
    "noninterest_income_to_assets": cleaned_merged_df["NONII"] / cleaned_merged_df["NAASSET"],
    "operating_income_to_assets": cleaned_merged_df["NOIJ"] / cleaned_merged_df["NAASSET"],
    "assets_per_employee": cleaned_merged_df["NAASSET"] / cleaned_merged_df["NUMEMP"],

    # Earnings (E)
    "return_on_assets": cleaned_merged_df["ROA"],
    "pretax_return_on_assets": cleaned_merged_df["ROAPTX"],
    "return_on_equity": cleaned_merged_df["ROE"],
    "net_interest_margin": cleaned_merged_df["NIM"],
    "net_income_to_assets": cleaned_merged_df["NETINC"] / cleaned_merged_df["NAASSET"],
    "pretax_income_to_assets": cleaned_merged_df["PTAXNETINC"] / cleaned_merged_df["NAASSET"],

    # Liquidity (L)
    "net_loans_to_total_deposits": cleaned_merged_df["LNLSNET"] / cleaned_merged_df["DEP"],
    "core_deposits_to_assets": cleaned_merged_df["COREDEP"] / cleaned_merged_df["NAASSET"],
    "uninsured_deposits_to_total_deposits": cleaned_merged_df["DEPUNINS"] / cleaned_merged_df["DEP"],
    "nonint_bearing_deposits_to_assets": cleaned_merged_df["DEPNIDOM"] / cleaned_merged_df["NAASSET"],
    "insured_deposits_to_total_deposits": cleaned_merged_df["DEPINS"] / cleaned_merged_df["DEP"],

    # Sensitivity to Market Risk (S)
    "securities_to_assets": cleaned_merged_df["IGLSEC"] / cleaned_merged_df["NAASSET"],
    "asset_sensitivity_proxy": cleaned_merged_df["ASDRRES"] / cleaned_merged_df["NAASSET"],
})

In [96]:
camels_ratios_df["cert"].nunique

<bound method IndexOpsMixin.nunique of 0           9
2          35
3          39
4          41
5          46
        ...
8774    90528
8776    90579
8777    90582
8779    91005
8780    91280
Name: cert, Length: 60072, dtype: int64>

In [122]:
label_df = pd.read_csv("./data_csv/failed_bank-data_2008_2010.csv")
label_df["LABEL"] = 1
label_df = label_df[["CERT","LABEL"]]

In [123]:
label_df

      CERT  LABEL
0    19040      1
1    23306      1
2    34578      1
3    35065      1
4    58052      1
..     ...    ...
330  29730      1
331  12736      1
332  33901      1
333   1971      1
334  24660      1

[335 rows x 2 columns]

In [99]:
def parse_quarter_to_date(quarter_str:str) -> pd.Timestamp:
    year,qtr = quarter_str.split("_")
    quarter_month_map = {"Q1": "01", "Q2": "04", "Q3": "07", "Q4": "10"}
    month = quarter_month_map[qtr]
    return pd.to_datetime(f"{year}-{month}-01")

In [100]:
camels_ratios_df["date"] = camels_ratios_df["quarter"].apply(parse_quarter_to_date)

In [101]:
def engineer_lag_features_optimized(df: pd.DataFrame, features: list, max_lag: int = 8,
                                    bank_id_col: str = "cert") -> pd.DataFrame:
    """
    Add lag features for specified CAMELS variables.
    
    """
    df = df.copy()
    
    
    df = df.sort_values(by=[bank_id_col, "date"])

    lag_dfs = [df]

    # Generate lag features for each specified variable
    for lag in range(1, max_lag + 1):
        lagged = (
            df.groupby(bank_id_col)[features]
              .shift(lag)
              .add_suffix(f"_lag{lag}")
        )
        lag_dfs.append(lagged)

    # Concatenate all in one go for performance
    df_with_lags = pd.concat(lag_dfs, axis=1)

    return df_with_lags

In [103]:
camels_ratios_df.columns[3:-1]

Index(['equity_to_assets', 'tier1_rwa_ratio', 'total_equity_ratio',
       'dividends_to_equity', 'loan_loss_reserve_to_loans',
       'noncurrent_loans_to_loans', 'net_loans_to_assets',
       'loan_depreciation_to_loans', 'ore_to_assets',
       'assets_past_due_30_89_to_assets', 'noncurrent_real_estate_to_assets',
       'noncurrent_re_to_loans', 'efficiency_ratio_proxy',
       'noninterest_income_to_assets', 'operating_income_to_assets',
       'assets_per_employee', 'return_on_assets', 'pretax_return_on_assets',
       'return_on_equity', 'net_interest_margin', 'net_income_to_assets',
       'pretax_income_to_assets', 'net_loans_to_total_deposits',
       'core_deposits_to_assets', 'uninsured_deposits_to_total_deposits',
       'nonint_bearing_deposits_to_assets',
       'insured_deposits_to_total_deposits', 'securities_to_assets',
       'asset_sensitivity_proxy'],
      dtype='object')

In [104]:
engineered_df = engineer_lag_features_optimized(camels_ratios_df,features = camels_ratios_df.columns[3:-1])

In [105]:
engineered_df[engineered_df["quarter"] == '2006_Q4']

,cert,bank_name,quarter,equity_to_assets,tier1_rwa_ratio,total_equity_ratio,dividends_to_equity,loan_loss_reserve_to_loans,noncurrent_loans_to_loans,net_loans_to_assets,...,net_interest_margin_lag8,net_income_to_assets_lag8,pretax_income_to_assets_lag8,net_loans_to_total_deposits_lag8,core_deposits_to_assets_lag8,uninsured_deposits_to_total_deposits_lag8,nonint_bearing_deposits_to_assets_lag8,insured_deposits_to_total_deposits_lag8,securities_to_assets_lag8,asset_sensitivity_proxy_lag8
2,35,AUBURNBANK,2006_Q4,0.111326,14.444217,703.875000,12.427506,31.591146,0.562454,3903.444444,...,15.0,2.799822,3.817616,0.569863,323.827402,0.434423,58.014235,0.565577,0.016014,NaN
3,39,ROBERTSON BANKING COMPANY,2006_Q4,0.018809,14.548683,41.089720,11.021083,5.205299,1.081800,299.153271,...,15.0,0.184779,0.214418,0.929761,19.241124,0.125737,2.583513,0.874263,NaN,NaN
4,41,PHENIX-GIRARD BANK,2006_Q4,0.080263,21.058015,121.901961,3.625643,2.832083,0.969891,465.633987,...,15.0,3.190073,3.181598,0.612607,97.375303,0.342715,25.814770,0.657285,0.196126,NaN
5,46,MERCHANTS BANK OF ALABAMA,2006_Q4,0.005842,10.987000,11.935128,NaN,12.900210,8.117422,110.465148,...,15.0,1.944251,2.681185,0.896440,188.860627,0.216733,39.167247,0.783267,NaN,NaN
6,47,TRADERS & FARMERS BANK,2006_Q4,0.009412,16.030619,33.603806,3.385485,10.529637,5.727639,151.097751,...,15.0,1.307592,1.955034,0.598794,60.665037,0.200000,11.123167,0.800000,0.028022,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
8774,90528,MONTROSEBANK,2006_Q4,0.015214,10.152121,25.065630,5.018235,13.250149,11.234065,225.281520,...,15.0,121.000000,121.111111,0.906150,5247.166667,0.176825,1880.611111,0.823175,-0.111111,NaN
8776,90579,HERITAGE BANK,2006_Q4,0.001928,9.626367,8.385686,NaN,2.889005,2.965366,75.631168,...,15.0,0.434085,0.542199,0.832191,62.481283,0.316858,14.144153,0.683142,-0.007440,NaN
8777,90582,CASTLE ROCK BANK,2006_Q4,0.020517,9.274001,22.474719,12.531958,18.783663,7.623584,240.339888,...,15.0,0.401929,0.601286,0.902453,101.038585,0.031515,25.234727,0.968485,NaN,NaN
8779,91005,5 STAR BANK,2006_Q4,3.341680,34.490712,5538.500000,NaN,2.781270,0.523959,11261.000000,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
8780,91280,BANK OF LITTLE ROCK,2006_Q4,0.006914,12.489915,9.730263,3.732819,10.183448,15.723427,71.066520,...,15.0,0.504894,0.785481,0.654448,67.145188,0.359020,13.792007,0.640980,NaN,NaN

In [106]:
engineered_df.describe()

,cert,equity_to_assets,tier1_rwa_ratio,total_equity_ratio,dividends_to_equity,loan_loss_reserve_to_loans,noncurrent_loans_to_loans,net_loans_to_assets,loan_depreciation_to_loans,ore_to_assets,...,net_interest_margin_lag8,net_income_to_assets_lag8,pretax_income_to_assets_lag8,net_loans_to_total_deposits_lag8,core_deposits_to_assets_lag8,uninsured_deposits_to_total_deposits_lag8,nonint_bearing_deposits_to_assets_lag8,insured_deposits_to_total_deposits_lag8,securities_to_assets_lag8,asset_sensitivity_proxy_lag8
count,60072.000000,60072.000000,60069.000000,60072.000000,38457.000000,60071.000000,60055.000000,6.007200e+04,6.007200e+04,36224.000000,...,10549.0,10546.000000,10547.000000,10549.000000,10542.000000,10538.000000,10494.000000,10549.000000,5837.000000,815.000000
mean,18563.153249,0.189387,14.768227,248.400075,7.936287,43.168696,24.878241,1.394542e+03,4.102242e+03,2.817379,...,15.0,10.403583,14.272903,5.257204,832.281417,0.213994,165.787913,0.783786,0.376741,46.531351
min,9.000000,-0.004659,0.166464,-2.219512,0.001080,0.015873,0.000822,8.331800e-01,3.154710e-02,0.000022,...,15.0,-503.000000,-762.000000,0.031198,0.360153,0.000052,0.001207,0.004074,-80.500000,0.000166
25%,8536.000000,0.006653,10.577169,15.084820,3.134409,4.174539,1.901160,9.897034e+01,2.612680e+02,0.120729,...,15.0,0.586207,0.752782,0.696827,92.784359,0.120756,13.647611,0.713561,0.004063,0.239702
50%,16228.000000,0.020267,12.765354,33.758181,5.497976,9.865855,4.869539,2.231418e+02,6.687143e+02,0.350215,...,15.0,1.566394,2.042989,0.830488,185.754000,0.192943,31.138865,0.806478,0.037582,2.044067
75%,27732.000000,0.070433,16.557750,90.197059,8.636246,27.284779,13.961643,5.800223e+02,1.931935e+03,1.074401,...,15.0,3.988133,5.194530,0.944616,423.703524,0.285140,73.179786,0.879275,0.179894,15.236598
max,91363.000000,52.550177,100.000000,415196.000000,6204.572963,18554.620817,28635.576144,2.864768e+06,1.112855e+07,2481.000000,...,15.0,10079.000000,15553.000000,16994.008000,875065.000000,0.921832,227429.000000,1.000000,137.295455,4496.153846
std,13592.930139,0.980168,6.895320,2858.750108,40.472842,183.744522,171.245902,1.534933e+04,6.523433e+04,24.438281,...,0.0,152.300420,227.808918,258.296461,9654.328610,0.127098,2449.809447,0.132432,3.129009,282.997259